html {
  height: 100%;
  font-size: 62.5%;
}
body {
  font-family: "Goldman", cursive;
}

nav {
  display: flex;
  width: 100%;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background: #00a8c7;
  justify-content: space-between;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  font-size: 2.5rem;
  padding: 0 4rem 0 4rem;
}
nav a {
  color: white;
  text-decoration: none;
}
nav img {
  width: 5vw;
}

.tekst

{
font-size: 24px;  
font-family:"Goldman", cursive;
list-style-type: circle;

}

.tekst2

{
font-size: 24px;  
font-family: "Goldman", cursive;
}

body{
  background-image: url(/P1-html-css-layout-main/img/hacker.png); 
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
}

li{
  color: #00a8c7;
}

.footer{
  
  position:sticky;
  top: 100%;
  min-height: 100%;
  color: white;
  text-align: center;
  padding: 2rem;
  background: #00a8c7;
  font-family: "Goldman", cursive;
  font-size: medium;
  margin-top: auto;
  min-height: 10vh;

}

body{
  min-height: 100%;
  position: -webkit-sticky;
 
}

h1{
  color: white;
  font-family: "Goldman", cursive;
  font-size: 50px;
  text-align: center;

}



#container{
 
  display: flex;
  align-items: center;
  color: white;
  text-align: center;
}
p{
  color: white;
  font-size: 20px;
  text-align: center;
}

#java{
  display: flex;
  align-items: center;
  text-align: center;
}

#PHP{
  display: flex;
  align-items: center;
  text-align: center;
}
#SQL{
  display: flex;
  align-items: center;
  text-align: center;
}






li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color:white;
  color: #00a8c7;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}